<h1>Purchase Item</h1>

<form action="/checkout" method="POST">
    <p>Enter an item to purchase: <input id="item" type="text" name="item"></p>
    <input id="submit" type="submit" name="submit">
</form>